* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* font styling */

h1 {
    font-size: 80px;
    letter-spacing: 1.5px;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family: cooper-black-std, serif;
}

h2 {
    font-size: 25px;
    letter-spacing: 1.5px;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family: cooper-black-std, serif;
    text-align: center;
    margin: 0 0 2rem 0;
}

    /* font til nav-links */
h3 {
    font-size: 15px;
    letter-spacing: 1.5px;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family: cooper-black-std, serif;
    text-align: center;
}

p {
    font-size: 15px;
    letter-spacing: 0.1rem;
    line-height: 1.3rem;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family:"nimbus-sans";
}



/* Styling af nav baren */
.nav-links {
    cursor: pointer;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    min-height: 55px;
    width: 100%;
  }

  .nav-links a {
    display: inline-block;
    padding: 20px 60px 0px 60px;
  }

  .nav-links a:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
  }
  .nav-links a.active {
    text-decoration: underline 1px black;
  }





  /* Styling af footer */

  footer {
    padding: 10px 10px 0px 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: #F58FA5;
  }


  .baggrund_forside {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-size: cover;
    pointer-events: none;
  }

/* grid til forsiden */
  .grid_1 {
      display: grid;
      gap: 50px;
      margin: 50px;
  }

  .grid_1_1 {
      display: grid;

  }

  .grid_1_2 {
    display: grid;
    gap: 30px;
}
.grid_1_3 {
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: 1fr 1fr 1fr;
    gap:30px;
}

.felt_1_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;

}

.felt_1_2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.felt_1_3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
.felt_1_4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

/* Grid til "om mig" siden */
.grid_2{
    display: grid;
    gap: 30px;
}

.grid_2_2{
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: 1fr 1fr;
    gap:50px;
}

.grid_2_3{
    display: grid;
}

.grid_2_3{
    display: grid;
}


.felt_2_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

.felt_2_2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.felt_2_3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.felt_2_4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}


/* Grid til portfolio */

.grid_3 {
    display: grid;
    gap: 50px;
    margin: 50px;
}

.grid_3_1 {
    display: grid;
    row-gap: 100px;
    column-gap: 20px;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1fr 1fr;
}
.tema_2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.felt_3_1_1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #F58FA5;
}
.felt_3_1_2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.tema_3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3; 
}
.felt_3_1_3 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}
.felt_3_1_4 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F58FA5;
}
.felt_3_1_5 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #F58FA5;
}
.felt_3_1_6 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}
.tema_4 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}
.felt_3_1_7 {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
}
.felt_3_1_8 {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F58FA5;
}
.tema_5 {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
}
.felt_3_1_9 {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #F58FA5;
}
.felt_3_1_10 {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 3;
}
.felt_3_1_11 {
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 2;
}
.felt_3_1_12 {
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F58FA5;
}
.tema_6 {
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 3;
}
.felt_3_1_13 {
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #F58FA5;
}
.felt_3_1_14 {
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-start: 2;
    grid-column-end: 3;
}


img {
    height: 100%;
    width: 100%;
}

/* Knap til CV */

.button {
    display: flex;
    justify-content: center;
  }
  
  button {
    border: none;
    color: black;
    background-color: #F5C716;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 1rem;
  }
  
  button:hover {
    color: black;
    background-color: #f5c8166b;
    transform: scale(1.05);
  }






  /* figur der flyver rundt */

  ._3s-element-left {
    position: absolute;
    left: 8%;
    top: 160%;
    right: auto;
    bottom: 0;
    z-index: 10;
    max-width: 250px;
    max-height: 250px;
  }




  @media (max-width: 500px) {
    .grid_2_2 { 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
     }
    .felt_2_1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .felt_2_2 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .felt_2_3 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .felt_2_4 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
    }
 
 }


