* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    margin: 0 auto;
    max-width: 1200px;
  }

/* font styling */

h1 {
    font-size: 80px;
    letter-spacing: 0.5rem;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family: cooper-black-std, serif;
}

h2 {
    font-size: 25px;
    letter-spacing: 1.5px;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family: cooper-black-std, serif;
    margin: 0 0 2rem 0;
}

    /* font til nav-links */
h3 {
    font-size: 15px;
    letter-spacing: 1.5px;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family: cooper-black-std, serif;
    text-align: center;
}

/* Font til under nav-links */
h4 {
    font-size: 14px;
    letter-spacing: 1.5px;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family:"nimbus-sans"; 
}
h5 {
    font-size: 25px;
    letter-spacing: 1.5px;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family:"nimbus-sans"; 
}
p {
    font-size: 15px;
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family:"nimbus-sans";
    max-width: 66ch;
    
}

/* NAVIGATIONS BAR */

header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    background-color: white;
}

li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
    border-radius: 5px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: blue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
/* Media til hamburgermenu */
@media(max-width: 768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top:80px;
        gap:0;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
        width: 100%;
        text-align: center;
        transition: 0.2s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}


  .under-nav-links {
    cursor: pointer;
    text-align: center;
    min-height: 30px;
    width: 100%;
  }

  .under-nav-links li {
    display: inline-block;
    padding: 20px 100px 0px 100px;
  }

  .under-nav-links li:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1px;


  }
  .under-nav-links a.active2 {
    text-decoration: underline 1px black;
  } 

  

  /* styling af forsiden */
.splash {
    height: 100vh;
    width: 100%;
    background-image: url(../Billeder/splash2.webp);
    background-size: cover;
    background-position: 70% 100%;
    max-width: none;
    background-repeat: no-repeat;
  }
  
  .forside {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(4, 1fr);
  }
  
  .forside_txt {
    display: flex;
    align-content: center;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    padding-block-start: 13rem;
  }
  .forside_txt img {
    max-width: 200px;
    max-height: 200px;
  }
  .forside_txt h5 {
    display: flex;
    align-self: center;
  }
  .forside_txt h1 {
    display: flex;
    place-content: center;
    padding-inline-start: 0;
  }
  
  .forside_txt h4 {
    display: flex;
    place-content: center;
  }


  /* Styling af footer */

  footer {
    padding: 10px 10px 0px 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;

    position: sticky;
    top: 100vh;
  }



/* Grid til "om mig" siden */

.parent_2 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    padding: 20px;
  }

  @media (min-width: 600px) {
    .parent_2 { grid-template-columns: 1fr 1fr; }
  }

/* .grid_2{
    display: grid;
    gap: 30px;
    margin: 3rem;
}

.grid_2_2{
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: 1fr 1fr;
    gap:50px;
}

.grid_2_3{
    display: grid;
}

.grid_2_3{
    display: grid;
}


.felt_2_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

.felt_2_2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.felt_2_3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.felt_2_4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
 */

/* Grid til portfolio */

.grid_3 {
    display: grid;
    gap: 50px;
    margin: 50px;
}

.grid_3_1 {
    display: grid;
    row-gap: 100px;
    column-gap: 20px;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1fr 1fr;
}
.tema_2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.felt_3_1_1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.felt_3_1_2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.tema_3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3; 
}
.felt_3_1_3 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}
.felt_3_1_4 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F58FA5;
}
.felt_3_1_5 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #F58FA5;
}
.felt_3_1_6 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}
.tema_4 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}
.felt_3_1_7 {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
}
.felt_3_1_8 {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F58FA5;
}
.tema_5 {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
}
.felt_3_1_9 {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #F58FA5;
}
.felt_3_1_10 {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 3;
}
.felt_3_1_11 {
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 2;
}
.felt_3_1_12 {
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F58FA5;
}
.tema_6 {
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 3;
}
.felt_3_1_13 {
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #F58FA5;
}
.felt_3_1_14 {
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-start: 2;
    grid-column-end: 3;
}


img {
    height: 100%;
    width: 100%;
} 

/* Knap til CV */

.button {
    display: flex;
    justify-content: center;
  }
  
  button {
    border: none;
    color: black;
    background-color: #146AF1;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 1rem;
  }
  
  button:hover {
    color: black;
    background-color: #1469f14b;
    transform: scale(1.05);
  }











 /* styling af tema 2 */



 .grid_t2_1 {
     display: grid;
     gap: 20px;
     margin: 7rem 0;
 }

 .grid_t2_1_1 {
     display: grid;
     grid-row: 1fr;
     grid-column: 1fr 1fr;
 }

 .felt_t2_1 {
     grid-row-start: 1;
     grid-row-end: 2;
     grid-column-start: 1;
     grid-column-end: 2;
 }

.felt_t2_2 {
    grid-row-start: 1;
     grid-row-end: 2;
     grid-column-start: 2;
     grid-column-end: 3;
     background-color: #F58FA5;
}

.grid_t2_1_2 {
    display: grid;
    grid-row: 1fr;
    grid-column: 1fr 1fr;
    gap: 3rem;
}

.felt_t2_3 {
    grid-row-start: 1;
     grid-row-end: 2;
     grid-column-start: 1;
     grid-column-end: 2;
    margin: 0 3rem 0 0
}

.felt_t2_4 {
    grid-row-start: 1;
     grid-row-end: 2;
     grid-column-start: 2;
     grid-column-end: 3;
}


/* Styling af tema 3 */
.grid_t3_1 {
    display: grid;
    gap: 5px;
    margin: 7rem 0;
}

.grid_t3_1_1 {
    display: grid;
    grid-row: 1fr;
    grid-column: 1fr 1fr;
}

.felt_t3_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.felt_t3_2 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F58FA5;
}

.grid_t3_1_2 {
   display: grid;
   grid-row: 1fr;
   grid-column: 1fr 1fr;
   gap: 3rem;
}

.felt_t3_3 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
   margin: 0 3rem 0 0
}

.felt_t3_4 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* UX pitch deck */

.grid_t3_2 {
    display: grid;
    gap: 20px;
    margin: 7rem 0;
}

.grid_t3_2_1 {
    display: grid;
    grid-row: 1fr;
    grid-column: 1fr 1fr;
}

.felt_t3_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.felt_t3_2 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F58FA5;
}

.grid_t3_2_2 {
   display: grid;
   grid-row: 1fr;
   grid-column: 1fr 1fr;
   gap: 3rem;
}

.felt_t3_3 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
   margin: 0 3rem 0 0
}

.felt_t3_4 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}


/* styling af tema 4 */

.grid_t4_1 {
    display: grid;
    gap: 20px;
    margin: 7rem 0;
}

.grid_t4_1_1 {
    display: grid;
    grid-row: 1fr;
    grid-column: 1fr 1fr;
}

.felt_t4_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.felt_t4_2 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F58FA5;
}

.grid_t4_1_2 {
   display: grid;
   grid-row: 1fr;
   grid-column: 1fr 1fr;
   gap: 3rem;
}

.felt_t4_3 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
   margin: 0 3rem 0 0
}

.felt_t4_4 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}


/* Styling af tema 5 */
.grid_t5_1 {
    display: grid;
    gap: 5px;
    margin: 7rem 0;
}

.grid_t5_1_1 {
    display: grid;
    grid-row: 1fr;
    grid-column: 1fr 1fr;
}

.felt_t5_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.felt_t5_2 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F58FA5;
}

.grid_t5_1_2 {
   display: grid;
   grid-row: 1fr;
   grid-column: 1fr 1fr;
   gap: 3rem;
}

.felt_t5_3 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
   margin: 0 3rem 0 0
}

.felt_t5_4 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* UX pitch deck */

.grid_t5_2 {
    display: grid;
    gap: 20px;
    margin: 7rem 0;
}

.grid_t5_2_1 {
    display: grid;
    grid-row: 1fr;
    grid-column: 1fr 1fr;
}

.felt_t5_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.felt_t5_2 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F58FA5;
}

.grid_t5_2_2 {
   display: grid;
   grid-row: 1fr;
   grid-column: 1fr 1fr;
   gap: 3rem;
}

.felt_t5_3 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
   margin: 0 3rem 0 0
}

.felt_t5_4 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}



/* styling af tema 6 */

.grid_t6_1 {
    display: grid;
    gap: 20px;
    margin: 7rem 0;
}

.grid_t6_1_1 {
    display: grid;
    grid-row: 1fr;
    grid-column: 1fr 1fr;
}

.felt_t6_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.felt_t6_2 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F58FA5;
}

.grid_t6_1_2 {
   display: grid;
   grid-row: 1fr;
   grid-column: 1fr 1fr;
   gap: 3rem;
}

.felt_t6_3 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
   margin: 0 3rem 0 0
}

.felt_t6_4 {
   grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}





